.header {
  background-color: #0f6bc8;
}

.card-description {
  font-size: smaller;
}

.card-title {
  font-weight: bold;
}

.card-categories {
  font-size: small;
}

.card-price {
  color: #ffac3c;
  font-weight: bold;
}

.card-delivery {
  color: #1e74cb;
}
